<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Mapit!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="map">
        <agm-map 
          [latitude]="lat" 
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]=false
          [zoomControl]="false"
          (mapClick)="mapClicked($event)"
        >
          <agm-marker 
            *ngFor="let m of markers; let i=index"
            (markerClick)="clickedMarker(m, i)"
            [latitude]="m.lat" 
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)"
          >
             <agm-info-window> 
               <strong> {{m.name}} </strong>
               <br>
               <a href="#" class="delete" (click)="removeMarker(m)" >Delete</a> 
              </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <h5 class="card-header">Add new Marker</h5>
              <div class="card-body">
                  <form (submit)="addMarker()">
                      <label >Location Name</label>
                      <input type="text" [(ngModel)]="markerName" name="markerName" class="form-control">  
                      
                      <label>Latitude</label>
                      <input type="text" [(ngModel)]="markerLat" name="markerLat" class="form-control">
                      
                      <label>Longitude</label>
                      <input type="text" [(ngModel)]="markerLng" name="markerLng" class="form-control">
                      
                      <label>Draggable</label>
                      <select [(ngModel)]="markerDraggable" name="markerDraggable" class="form-control">
                        <option value="no">No</option>  
                        <option value="yes">Yes</option> 
                      </select>
                      <input type="submit" value="Map it!">
                    </form>
              </div>
            </div>
      </div>  
    </div>

</div>

